.container{
  margin-top: 2%;
}
.header{
  text-align: center;
  color: #fff;
  background-color: rgb(55, 205, 255);
}
.list-group{
  margin-top: 1%;
}
.checks fa-icon{
  color: green;
  cursor: pointer;
}
.trash-can fa-icon{
  color: red;
}
